/* ------ nav -------- */
@import '../../scss/vars';
.nav {
  display: flex;
  align-items: center;
  height: 100px;
  font-size: 1.2em;
}

.navIcons {
  text-align: right;
  flex: 1;
  margin-right: 100px;

}

.navIcons a{
  display: inline-block;
  vertical-align: middle;
  transition: all 0.3s;
  margin-left: 40px;

  i {
    padding: 3px;
  }
}

.navIcons a:hover{
  cursor: pointer;
  color:$accent-blue;
}

@media(max-width:840px){
  .navIcons{
    margin: 0;

    a:hover {
      color: inherit;
    }
  }
}
