<div id="home" class="nav section-content">
  <!-- <div class="contactMe">
<a href="https://drive.google.com/open?id=1gHnJz7rMv4bsS2P48i7t39W1iHAhPSY1">
<i class="fas fa-file"></i> &nbsp; Download Resume
</a>
  </div> -->
  <div class=navIcons>
<a href="https://codepen.io/shubhankar-das/"><i class="fab fa-codepen"></i></a>
<a href="https://www.linkedin.com/in/shubhankardas/"><i class="fab fa-linkedin-in"></i></a>
<a href="https://github.com/ShubhankarDas"><i class="fab fa-github"></i></a>
  </div>
</div>
