@import '../../scss/vars';

.landing{
  height: calc(100vh -  100px);
  display:flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-around;

  h1{
      margin-top: -50px;
  }
}
