<div class="landing">
  <div class="landing-wrapper">
    <div class=landing-right>
      <h1>Shubhankar Das.</h1>
<p>Hi there, I am a <span class="blue">full stack developer</span><br> Who loves to create applications.</p>
      <ul>
        <li><p>Full Stack</p></li>
        <li>
          <p>Backend</p>
        </li>
        <li>
          <p>Frontend</p>
        </li>
      </ul>
    </div>
    <div class=landing-left>
      <img src="../../assets/images/profile.png" width="300px">
    </div>
  </div>
  <div (click)="scroll()" class="scroll">
    <i class="fas fa-ellipsis-v"></i>
  </div>

</div>
