<div class="landing">
  <div class="landing-wrapper">
    <div class=landing-left>

      <h1>Hi There!</h1>

      <p>
        I am <b class="blue">Shubhankar Das</b>, a Full-Stack developer<br>
        with skills and experiences that allow me to<br>
        take ideas from concept to mock to prototype <br>
        to production.
      </p>

      <!-- <p>
        Hi there! Welcome to my world, I am<br>
        passionate about developing products, <br>
        overcoming obstacles that occur <br>
        along the journey and make users happier<br>
        and more productive with their work.<br>
      </p> -->
      <!-- <p>
        Hi there! 😄 I am a Fun-Stack Developer 💻 <br>
        who loves to give life to ideas ✨ <br>
        <br>
        Developing products since 2⃣ years <br>
        <br>
        Filled with coffee ☕️ and passion 🤔
        <br>

      </p> -->
<!--
<ul>
  <li>
    <p>Developing products since 2 years</p>
  </li>
  <li>
    <p>Backend</p>
  </li>
  <li>
    <p>Frontend</p>
  </li>
</ul> -->
<!-- <p>Hi there, I am a <span class="blue">full stack developer</span><br> Who loves to create applications.</p>
      <ul>
        <li><p>Full Stack</p></li>
        <li>
          <p>Backend</p>
        </li>
        <li>
          <p>Frontend</p>
        </li>
      </ul> -->
    </div>
    <div class=landing-right>
      <img src="/assets/images/profile.png" width="300px">
    </div>
  </div>
  <div (click)="scroll()" class="scroll">
    <i class="fas fa-ellipsis-v"></i>
  </div>

</div>
