<div id="skills" class="skills">
  <h2>Skills</h2>
  <p> Over 3 years of Developer experience using</p>
  <div class="programs">
<i class="fab fa-angular" title="Angular"></i>
<i class="fab fa-html5" title="Html5"></i>
<i class="fab fa-js-square" title="Javascript"></i>
<i class="fab fa-java" title="Java"></i>
<i class="fab fa-node" title="NodeJs"></i>
<i class="fab fa-laravel" title="Laravel"></i>
<i class="fab fa-vuejs" title="VueJs"></i>
<i class="fab fa-sass" title="Sass"></i>
<i class="fab fa-android" title="Android"></i>
  </div>
</div>
