<div class="project-wrapper">
<a class="close" routerLink="/"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
  <div class="hero">
    <h2 class="hero-text">Convertfly</h2>
    <div class="hero-image">
      <img src="/assets/images/convertfly-home.png"/>
    </div>
  </div>
  <div class="content-wrapper">
<h2>About</h2>
<p>Convertfly is a Messenger marketing app built for Shopify. Convertfly’s main target audience consisted of people who
are not marketers but people selling stuff they craft (some do drop-shipping).</p>

    <h2>Problem</h2>
  <p>Let's jump in — you’ve posted your books on Gumroad, held your breath while tweeting the link out, and you're seeing
    sales come in from your audience. Now cue the celebratory dance in your computer chair. You log in to Gumroad and see
    all of these new customers, but at this point, you're staring at your screen thinking...<br><br>
Who are my top customers?<br>
Which customers have spent the most?<br>
How many times has a certain customer purchased from me?<br><br>
The problem is that you can't answer any of these questions in the current design. It's simply a list of purchases,
with no aggregated information about customers.
    </p>
  </div>
</div>
