<div class="project-wrapper">
  <a class="close" routerLink="/"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>

  <div [ngSwitch]="projectName">
<div class="back-space" [style.background-color]="project.background"></div>
<div class="hero">
  <h2 class="hero-text">{{ project.title }}</h2>
  <div class="hero-image">
    <img [ngClass]="project.class" src={{project.heroImage}} />
  </div>
</div>
    <div *ngSwitchCase="'convertfly'">
      <div class="content-wrapper">

        <h2>About</h2>
        <p>
          Convertfly is a Messenger marketing app built for Shopify. Convertfly’s main target audience consisted of people who are not marketers but people selling stuff they craft (some do drop-shipping).
        </p>

        <img src="/assets/images/convertfly-tools.png">

        <h2>Code</h2>
        <p>
          For the purpose of rapid prototyping, code shareability, and testing, Zone features a full stack Javascript codebase.
        </p>

        <h3>The Front-End</h3>
        <p>
          The front-end went through many stages of iterations. One of the largest changes during the prototyping phase was the changing one of the campaigns.
        </p>

        <img src="/assets/images/tools-2.png">

        <h2>Dev Stack</h2>
        <p>Let's jump in — you’ve posted your books on Gumroad, held your breath while tweeting the link out, and you're
          seeing
          sales come in from your audience. Now cue the celebratory dance in your computer chair. You log in to Gumroad and
          see
          all of these new customers, but at this point, you're staring at your screen thinking...<br><br>
          Who are my top customers?<br>
          Which customers have spent the most?<br>
          How many times has a certain customer purchased from me?<br><br>
          The problem is that you can't answer any of these questions in the current design. It's simply a list of purchases,
          with no aggregated information about customers.
        </p>

        <img src="/assets/images/campaign-2.png">

        <img src="/assets/images/campaign-1.png">

      </div>

    </div>

    <div *ngSwitchCase="'visualgator'">

      <div class="content-wrapper">
        <h2>About</h2>
        <p>
          Convertfly is a Messenger marketing app built for Shopify. Convertfly’s main target audience consisted of people who are not marketers but people selling stuff they craft (some do drop-shipping).
        </p>

        <img class="img-shadow" src="/assets/images/Desktop.png">

      </div>

    </div>


    <div *ngSwitchCase="'skillsalpha'">
<div class="content-wrapper">
</div>
    </div>

    <div *ngSwitchCase="'yoola'">
<div class="content-wrapper">
</div>
    </div>

  </div>
</div>
