$accent-blue: #027bff;
$bold: #27303b;
$light-grey: #8f9ea5;
$grey: #526173;

$Primary-text: #222429;
$secondary-text: #79828f;
$separator: #E1E6E6;

$title: 'IBM Plex Sans',
sans-serif;
$text: 'IBM Plex Mono',
monospace;
