/* ------ Global -------- */
@import './vars';
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 18px;
  vertical-align: baseline;
  background: transparent;
}
html {
  font-family: $title;
  font-size: 1.125em;
}

body {
  scroll-behavior: smooth;
  font-family: $title;
  margin: auto;
  background-color: white;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {
  font-family: $text;
  margin-bottom: 1.3em;
  color: $grey;
}

h1,
h2,
h3,
h4 {
  font-family: $title;
  margin: 1.414em 0 0.5em;
  font-weight: 700;
  line-height: 1.2;
  color: $bold;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {
  font-size: 2.827em;
}

h3 {
  font-size: 1.999em;
}

h4 {
  font-size: 1.414em;
}

small,
.font_small {
  font-size: 0.707em;
}
.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

.blue {
  font: inherit;
  color: $accent-blue;
}

a:visited{
  color: inherit;
}
