<div class="main-wrapper">
<div id="moon" class="background-moon moon-init"></div>
  <ul id="side-bar" class='scroll-container hide-slide'>
    <li (click)="updateSection('home')" data-section-anchor="home" class="dot selected">
      <p>Home</p>
    </li>
    <li (click)="updateSection('skills')" data-section-anchor="skills" class="dot">
      <p>Skills</p>
    </li>
    <li (click)="updateSection('convertfly')" data-section-anchor="convertfly" class="dot">
      <p>Chapter 1</p>
    </li>
    <li (click)="updateSection('visualgator')" data-section-anchor="visualgator" class="dot">
      <p>Chapter 2</p>
    </li>
    <li (click)="updateSection('skillsalpha')" data-section-anchor="skillsalpha" class="dot">
      <p>Chapter 3</p>
    </li>
    <li (click)="updateSection('yoola')" data-section-anchor="yoola" class="dot">
      <p>Chapter 4</p>
    </li>
  </ul>
  <div class="content">
    <header></header>
    <landing (updateSideBar)="updateSection($event)"></landing>
    <skills></skills>
    <work-list></work-list>
  </div>
</div>
