<div class="main-wrapper">
  <ul class='scroll-container'>
    <li data-section-anchor="home" class="dot"> </li>
    <li data-section-anchor="skills" class="dot"> </li>
    <li data-section-anchor="exp_one" class="dot"> </li>
    <li data-section-anchor="exp_two" class="dot"> </li>
    <li data-section-anchor="exp_three" class="dot"> </li>
    <li data-section-anchor="exp_four" class="dot"> </li>
  </ul>
  <div class="content">
    <header></header>
    <landing></landing>
    <skills></skills>
    <work-list></work-list>
  </div>
</div>
