@import '../../scss/vars';

.main-wrapper{
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  // overflow: hidden;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    background-color: $accent-blue;
    z-index: -4;
    border-radius: 50%;
    overflow: hidden;
  }
  &:before{
    width: 100px;
    height: 100px;
    left: 110px;
    top: -50px;
  }

  p{
    color: $grey;
    opacity: 0.8;
  }
}

.background-moon{
  position: absolute;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.65, 0.05, 0.36, 1);
  z-index: -4;
  background-color: $accent-blue;
}

.moon-init{
  border-radius: 50%;
  width: 700px;
  height: 700px;
  right: -350px;
  top: -110px;
}

.content{
  width: 60%;
  // height: 100vh;
  margin: 0 auto;
}

.scroll-container {
  position: fixed;
  list-style-type: none;
  right: -50px;
  padding-left: 16px;
  z-index: 5;
  transition: all 0.4s;
  transform: translateY(calc(40vh));

  &:hover{
    transform: translate(-120%, calc(40vh));
  }
}

.hide-slide {
  z-index: -6;
  transform: translateX(400%);
}

.dot{
  cursor: pointer;
  position: relative;

  &:before{
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    padding: 1px;
    top: 50%;
    margin-top: -2px;
    margin-left: -2px;
    background-color: $light-grey;
    border-radius: 50%;
  }
  p{
    left: 20px;
    opacity: 0;
    margin: 0;
    transform: translate(100%);
  }
  &:hover {
    &:before {
      transform: scale(1.4);
      transform-origin: 40% 40%;
    }
    p {
      transition: all 0.4s;
      transform: translate(30%);
      opacity: 1;
    }
  }

}

.selected {

  p{
    color: $accent-blue;
  }
  &:before {
    transform: scale(1.8);
    transform-origin: 40% 40%;
    margin-top: -4px;
    margin-left: -2px;
    background-color: $accent-blue;
  }
  &:hover {
    &:before{
      transform: scale(1.8);
      transform-origin: 40% 40%;
      margin-top: -4px;
      margin-left: -2px;
      background-color: $accent-blue;
    }
  }
}



// ----------- Self Info -------------

.self-info {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.info-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
  .desc {
    font-size: 24px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: -.2px;
    margin-top:0;
    font-weight: 400;
  }
}

.info-right {
  position: relative;

  &:after {
    position: absolute;
    content: '';
    height: 250px;
    left: 0;
    width: 250px;
    z-index: -1;
    border-radius: 50%;
    box-shadow: 65px 70px 70px rgba(0, 0, 0, 0.30);
  }

  img {
    width: 300px;
  }
}


//----------  For work section -------------

.work{

}

.work-wrapper{
  display:flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.card{
  margin: 16px;
  max-width: 500px;
  width: 45%;
  min-width: 302px;
  // height: 600px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 6px 0 rgba(30, 45, 62, .09);
  transition: box-shadow .2s;
  height: 100%;

  a {
    text-decoration: none;
  }

  &:hover{
    box-shadow: 0 10px 15px 0 rgba(30, 45, 62, .04), 0 0 50px 0 rgba(31, 44, 60, .05);

    .card-img{
      opacity: 1;
    }
  }
}

.card-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 230px;
  transition: opacity .2s;
  opacity: .8;
  border-radius: 3px 3px 0 0;
}

.card-content{
  padding: 30px;
  h4,p{
    margin-top: 0;
  }
}

.card-tags{
  display: flex;
  margin-bottom: 7px;
}

.card-tag{
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  padding-right: 8px;
  color:#a3afbf;
}

