@import '../../scss/vars';

.main-wrapper{
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    background-color: $accent-blue;
    z-index: -4;
    border-radius: 50%;
    overflow: hidden;
  }
  &:before{
    width: 100px;
    height: 100px;
    left: 110px;
    top: -50px;
  }
}

@media(max-width:840px)
{
  .main-wrapper{
    width: 90%;

    &:before{
      display: none;
    }
  }
}

// -------------- Landing --------

.landing {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    margin-top: -50px;
  }
}
@media(max-width:840px){
  .landing{
    h1{
      font-size: 46px;
    }
  }
}

// ----------- Self Info -------------

.self-info {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.info-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
  .desc {
    font-size: 24px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: -.2px;
    margin-top:0;
    font-weight: 400;
  }
}

.info-right {
  position: relative;

  &:after {
    position: absolute;
    content: '';
    height: 250px;
    left: 0;
    width: 250px;
    z-index: -1;
    border-radius: 50%;
    box-shadow: 65px 70px 70px rgba(0, 0, 0, 0.30);
  }

  img {
    width: 300px;
  }
}

@media(max-width:840px){
  .self-info{
    flex-direction: column-reverse;
  }
}

//----------  For work section -------------

.work{
  margin-bottom: 40px;
}

.work-wrapper{
  display:flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.card{
  margin: 16px;
  max-width: 500px;
  width: 45%;
  min-width: 302px;
  // height: 600px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 6px 0 rgba(30, 45, 62, .09);
  transition: box-shadow .2s;
  height: 100%;

  a {
    text-decoration: none;
  }

  &:hover{
    box-shadow: 0 10px 15px 0 rgba(30, 45, 62, .04), 0 0 50px 0 rgba(31, 44, 60, .05);

    .card-img{
      opacity: 1;
    }
  }
}

.card-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 230px;
  transition: opacity .2s;
  opacity: .8;
  border-radius: 3px 3px 0 0;
}

.card-content{
  padding: 30px;
  h4,p{
    margin-top: 0;
  }
}

.card-tags{
  display: flex;
  margin-bottom: 7px;
}

.card-tag{
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  padding-right: 8px;
  color:#a3afbf;
}

@media(max-width:840px){
  .card {
    width: 100%;
  }
  .work-wrapper {
    justify-content: center;
  }
}

// --------- footer --------

.footer{
  width: 100%;
  min-height: 150px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;

  a{
    cursor: pointer;
    text-decoration: none;
  }
}

.social-container{
  a{
    padding: 15px;
    transition: 0.3s ease-in-out;

    &:hover{
      color: $accent-blue;
    }
  }
}

.made{
  font-size: 14px;

  a{
    font-size: inherit;
    color: $accent-blue;
  }
}

@media(max-width:840px){

}
