<div class="main-wrapper">
<div id="moon" class="background-moon moon-init"></div>
  <ul id="side-bar" class='scroll-container hide-slide'>
    <li (click)="updateSection('home')" data-section-anchor="home" class="dot selected">
      <p>Home</p>
    </li>
    <li (click)="updateSection('skills')" data-section-anchor="skills" class="dot">
      <p>Skills</p>
    </li>
    <li (click)="updateSection('exp_one')" data-section-anchor="exp_one" class="dot">
      <p>Product 1</p>
    </li>
    <li (click)="updateSection('exp_two')" data-section-anchor="exp_two" class="dot">
      <p>Product 2</p>
    </li>
    <li (click)="updateSection('exp_three')" data-section-anchor="exp_three" class="dot">
      <p>Product 3</p>
    </li>
    <li (click)="updateSection('exp_four')" data-section-anchor="exp_four" class="dot">
      <p>Product 4</p>
    </li>
  </ul>
  <div class="content">
    <header></header>
    <landing (updateSideBar)="updateSection($event)"></landing>
    <skills></skills>
    <work-list></work-list>
  </div>
</div>
